<!DOCTYPE html>
<html>
  <head>
    <title>Krazy Kendra Sale</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Krazy Kendra Sale</h1>
    
  </body>
</html>
